.customOverlay {
  background: rgba(183, 192, 192, 0.7);
}

.customModal {
  background-color: rgb(42, 53, 80);
  width: 420px;
  height: 120px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .customModal {
    width: 280px;
    height: 100px;
  }
}
