@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 246, 252);
  font-family: "Raleway";
}

.scrollbar-thumb::-webkit-scrollbar {
  width: 0.5em;
}

/* GRID AREA */
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 28px;
}

@media screen and (min-width: 768px) {
  .parent {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .parent {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .parent {
    grid-template-columns: repeat(6, 1fr);
  }
}
